<section>
  <div class="hero-container">
    @for (hero of getHeroes; track hero.id) {
    <div class="card">
      <img
        [src]="hero.img"
        class="card-img-top"
        [alt]="hero.superhero"
      />
      <div class="card-body">
        <p class="card-title">{{ hero.superhero }}</p>
        <p>{{ hero.publisher }}</p>
        <p>{{ hero.alter_ego }}</p>
        <p>{{ hero.first_appearance }}</p>
        <p>{{ hero.characters }}</p>
        <div class="btn-container">
          <button
            type="button"
            class="btn btn-primary"
          >
            <a href="#"><mat-icon>edit</mat-icon></a>
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="deleteHero(hero.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <div class="under-border"></div>
    </div>
    }
  </div>
</section>
