.hero-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  width: 250px;
  height: auto;
  margin: 0 1rem 1rem;
  background-color: #242327d2;
  color: #ccc;
}

img {
  width: fill;
  height: 400px;
}

.btn-container {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.btn > a {
  color: #ccc;
  text-decoration: none;
}

button {
  width: 100px;
}
