<section>
  <div class="hero-container">
    @for (hero of getHeroes; track hero.id) {
    <div
      class="card"
      style="width: 18rem"
    >
      <img
        [src]="hero.img"
        class="card-img-top"
        [alt]="hero.superhero"
      />
      <div class="card-body">
        <h5 class="card-title">{{ hero.superhero }}</h5>
        <p>{{ hero.publisher }}</p>
        <p>{{ hero.alter_ego }}</p>
        <p>{{ hero.first_appearance }}</p>
        <p>{{ hero.characters }}</p>
        <div class="btn-container">
          <button
            type="button"
            class="btn btn-primary"
          >
            <a href="#">Editar</a>
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="deleteHero(hero.id)"
          >
            Eliminar
          </button>
        </div>
      </div>
    </div>
    }
  </div>
</section>
