.hero-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

.card {
  --card-bc: #11295a;
  --card-c: #d8eeff;
  border: none;
  width: 14rem;
  background-color: var(--card-bc);
  color: var(--card-c);
}

img {
  width: fill;
  height: 40dvh;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.card-title {
  --title-c: #eef8ff;
  text-align: center;
  font-size: 1.2rem;
  color: var(--title-c);
}

.btn-container {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
}

.btn > a {
  color: var(--p-color);
  text-decoration: none;
}

button {
  margin: 0;
  padding-bottom: 0;
}

mat-icon {
  --icon-color: #eef8ff;
  color: var(--icon-color);
}

.under-border {
  --back-c: #52b4ff;
  height: 1rem;
  background-color: var(--back-c);
  border: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
