.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.mat-mdc-card {
  justify-content: center;
  width: 70%;
  height: 60%;
  padding: 3rem 0rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.input {
  width: 95%;
}

.button {
  width: 95%;
}
